@font-face {
   font-family: 'Oswald-VariableFont_wght';
   font-display: swap;
   src: url('file:///C:/Users/Mikolaj/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-10-05_130625/fonts/Oswald-VariableFont_wght/font.ttf');
}
